# Assignment 5 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [2]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [3]:
# word net installation:

# unmark if you want to use and need to install
# !pip install wn
# !python -m wn download omw-he:1.4

In [4]:
# word net import:

# unmark if you want to use:
# import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [5]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
# !pip install hebrew_tokenizer

In [6]:
# Hebrew tokenizer import:

# unmark if you want to use:
# import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [7]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [8]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [9]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [10]:
def data_cleaning(df: pd.DataFrame):
    df['story'] = df['story'].str.replace(r"[^א-ת\s0-9]+", '', regex=True)
    df['story'] = df['story'].str.replace(r"\b(מה|כ|ו|כש|וכש|וש|לכש|ש)", '', regex=True)
    df['story'] = df['story'].str.replace(r"(תי|נו|ים)\b", '', regex=True)
    df['story'] = df['story'].str.replace(r"\b\w{1,2}\b", '', regex=True)
    df['story'] = df['story'].str.replace(r"\s+", ' ', regex=True)
    df['story'] = df['story'].str.replace(r"(ם)", 'מ', regex=True)
    df['story'] = df['story'].str.replace(r"(ן)", 'נ', regex=True)
    df['story'] = df['story'].str.replace(r"(ף)", 'פ', regex=True)
    df['story'] = df['story'].str.replace(r"(ך)", 'כ', regex=True)
    df['story'] = df['story'].str.replace(r"(ץ)", 'צ', regex=True)

In [11]:
# YOUR CODE HERE
data_cleaning(df_train)
data_cleaning(df_test)

In [12]:
def tokenizer(string):
    return string.split(' ')

In [13]:
df_combined = pd.concat([df_train, df_test], axis=0)

vector = CountVectorizer(tokenizer=tokenizer, ngram_range=(1,2), max_features=8000, max_df=400, min_df=10)
X = vector.fit_transform(df_combined['story'].to_list())
y_train = df_train['gender'].replace({'m': 0, 'f': 1})

display(pd.DataFrame(X.toarray(), columns=vector.get_feature_names_out()).iloc[:, 3020:3040])

X_train = X[:len(df_train)]
X_test = X[len(df_train):]

,לסיומ,לסיור,לסייע,לסיכומ,לסיפור,לסכנ,לספר,לספר לכמ,לעבוד,לעבוד בית,לעבודה,לעבור,לעבור לגור,לעבר,לעדכנ,לעוד,לעודד,לעולמ,לעומק,לעומת
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
1072,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1073,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1074,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1075,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0

In [14]:
df_train['story']

0      שחבר הזמינ לחול באמת חשב יקרה פשוט אמר תיאר לע...
1      לפני התגייס לצבא עשי מני מיונ ליחידות מובחרות ...
2      מאז התחילו הלימוד חלומו סטודנט הפנגויה מחפש חב...
3      שהיי ילד מטוס היה הדבר הכי ריתק בתור למפקד טיי...
4      היי מדריכה בכפר נוער מתאמ הכפר היי צריכ לטוס ל...
                             ...
748     לפני בדיוק לאמסטרדמ חבר טוב התחיל בזה היי בבר...
749    בוע עבר העלי באופנ ספונטני רעיונ לנסוע משפח לנ...
750    לפני חודש עבר לדירה בבית בעקבות משפח המתגוררת ...
751    החוויה אותה ארצה לשתפ התרחשה לפני חודש היה יומ...
752    פעמ שהיי בחו בקבולומביה חלק טיול לדרומ אמריקה ...
Name: story, Length: 753, dtype: object

In [15]:
X_train
X_test

<753x4536 sparse matrix of type '<class 'numpy.int64'>'
	with 111659 stored elements in Compressed Sparse Row format>

<323x4536 sparse matrix of type '<class 'numpy.int64'>'
	with 46854 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.metrics import make_scorer

score_method = make_scorer(f1_score, average='macro')

clf = MultinomialNB()

res = cross_val_score(clf, X_train, y_train, cv=10, scoring=score_method)

print(res)
print(res.mean())
print(res.std())

[0.72161172 0.69635723 0.70970206 0.73377282 0.70833333 0.63664862
 0.73570073 0.74747475 0.73570073 0.72214306]
0.7147445053679894
0.02986161188735983

In [17]:
clfs = [
    LinearSVC(random_state=42), 
    MLPClassifier(random_state=42), 
    Perceptron(random_state=42), 
    SGDClassifier(random_state=42), 
    KMeans(n_clusters=2), 
    MultinomialNB(), 
    GaussianNB(), 
    KNeighborsClassifier(),
    DecisionTreeClassifier(random_state=42)    
]

param = [
    {'C': [0.1, 1, 10]},
    {'hidden_layer_sizes': [(100,), (50, 50)], 'alpha': [0.001, 0.01]},
    {'alpha': [0.001, 0.01]},
    {'alpha': [0.0001, 0.001], 'max_iter': [1000, 2000]},
    {},
    {},
    {},
    {'n_neighbors': [3, 5, 7, 11]},
    {'max_depth': [3, 5, 7, 11]}
]

for clf, par in zip(clfs, param):
    res = GridSearchCV(clf, par, cv=10, scoring=score_method, n_jobs=-1)
    res.fit(X_train.toarray(), y_train)
    print("\n The best score across ALL searched params:\n",res.best_score_)
    print("\n The best parameters across ALL searched params:\n",res.best_params_)

GridSearchCV(cv=10, estimator=LinearSVC(random_state=42), n_jobs=-1,
             param_grid={'C': [0.1, 1, 10]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.6638937040277889

 The best parameters across ALL searched params:
 {'C': 10}

GridSearchCV(cv=10, estimator=MLPClassifier(random_state=42), n_jobs=-1,
             param_grid={'alpha': [0.001, 0.01],
                         'hidden_layer_sizes': [(100,), (50, 50)]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.6570821720726

 The best parameters across ALL searched params:
 {'alpha': 0.01, 'hidden_layer_sizes': (50, 50)}

GridSearchCV(cv=10, estimator=Perceptron(random_state=42), n_jobs=-1,
             param_grid={'alpha': [0.001, 0.01]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.656287182674669

 The best parameters across ALL searched params:
 {'alpha': 0.001}

GridSearchCV(cv=10, estimator=SGDClassifier(random_state=42), n_jobs=-1,
             param_grid={'alpha': [0.0001, 0.001], 'max_iter': [1000, 2000]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.6601659430546528

 The best parameters across ALL searched params:
 {'alpha': 0.0001, 'max_iter': 1000}

GridSearchCV(cv=10, estimator=KMeans(n_clusters=2), n_jobs=-1, param_grid={},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.4449076623347244

 The best parameters across ALL searched params:
 {}

GridSearchCV(cv=10, estimator=MultinomialNB(), n_jobs=-1, param_grid={},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.7147445053679894

 The best parameters across ALL searched params:
 {}

GridSearchCV(cv=10, estimator=GaussianNB(), n_jobs=-1, param_grid={},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.5309102956458256

 The best parameters across ALL searched params:
 {}

GridSearchCV(cv=10, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [3, 5, 7, 11]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.45734866606813507

 The best parameters across ALL searched params:
 {'n_neighbors': 3}

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=42),
             n_jobs=-1, param_grid={'max_depth': [3, 5, 7, 11]},
             scoring=make_scorer(f1_score, average=macro))

 The best score across ALL searched params:
 0.6819266630860363

 The best parameters across ALL searched params:
 {'max_depth': 7}

## prediction

In [18]:
clf = MultinomialNB()
clf.fit(X_train.toarray(), y_train)

y_test_prediction = clf.predict(X_test.toarray())

MultinomialNB()

In [21]:
df_pred = pd.DataFrame(y_test_prediction, columns=['gender']).replace({0: 'm', 1: 'f'})
df_pred.head(5)
df_pred.tail(5)

  gender
0      m
1      m
2      m
3      m
4      m

    gender
318      m
319      m
320      m
321      m
322      m

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [24]:
df_pred.to_csv('classification_results.csv',index=False)